<!DOCTYPE html>
<html lang="en-US">
  <meta charset="utf-8">
  <title>Redirecting&hellip;</title>
  <link rel="canonical" href="{{ .Site.Params.DocsURL }}/{{ .Params.doc_article }}">
  <script>location="{{ .Site.Params.DocsURL }}/{{ .Params.doc_article }}"</script>
  <meta http-equiv="refresh" content="0; url={{ .Site.Params.DocsURL }}/{{ .Params.doc_article }}">
  <meta name="robots" content="noindex">
  <h1>Redirecting&hellip;</h1>
  <a href="{{ .Site.Params.DocsURL }}/{{ .Params.doc_article }}">Click here if you are not redirected.</a>
</html>
