<header class="jumbotron jumbotron-fluid overflow-hidden">
  <div class="container">
    <div class="position-relative">
      <div id="jumbotron-content">
        <div id="text">
          <h1>The Mesa 3D Graphics Library</h1>

          <p>
            Open source implementations of <a href="https://www.opengl.org/">OpenGL</a>,
            <a href="https://www.khronos.org/opengles/">OpenGL ES</a>,
            <a href="https://www.khronos.org/vulkan/">Vulkan</a>,
            <a href="https://www.khronos.org/opencl/">OpenCL</a>, and more!
          </p>
        </div>
        <a class="btn btn-primary btn-lg" href="{{ .Site.Params.DocsURL }}/index.html" role="button">Read more »</a>
      </div>
      <div id="gears-container">
        {{ partial "gears.svg" . }}
      </div>
    </div>
  </div>
  <style>
    .jumbotron {
      flex-shrink: 0;
    }

    #jumbotron-content {
      position: relative;
      z-index: 1;
    }

    #jumbotron-text {
      text-shadow: 0 0 5px #f8f9fa;
    }

    #gears-container {
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      max-height: 100%;
      z-index: 0;
      height: 100%;
    }

    svg#gears {
      opacity: 0.25;
      float: right;
      height: 100%;
      transform: scale(1.75);
    }

    @media (min-width: 576px)  {
      svg#gears {
        transform: scale(2);
      }
    }

    @media (min-width: 768px)  {
      svg#gears {
        transform: translateX(-75%) scale(2.5);
      }
    }

    .jumbotron .cog {
      animation-play-state: paused;
    }

    @media (hover: hover) {
      .jumbotron:hover .cog {
        animation-play-state: running;
      }
    }

  </style>
</header>
