<dl class="row pt-3 collapse" id="drivers-collapse">
  {{ range $.Site.Data.drivers }}
  <dt class="col-md-3 col-lg-2">{{ .name }}</dt>
  <dd class="col-md-9 col-lg-10">
    <p>{{ .description }}
      {{ if .external_url }}
      <a href="{{ .external_url }}">More information&hellip;</a>
      {{ else if .docs_article }}
      <a href="{{ .Site.DocsURL }}/{{ .docs_article }}">More information&hellip;</a>
      {{ end }}
    </p>
  </dd>
  {{ end }}

  {{ range $.Site.Data.legacy_drivers }}
  <dt class="col-md-3 col-lg-2">{{ .name }}</dt>
  <dd class="col-md-9 col-lg-10">
    <p>{{ .description }} Due to the age of the hardware, it's no longer very
      actively developed, and it's entirely community maintained.
      {{ if .external_url }}
      <a href="{{ .external_url }}">More information&hellip;</a>
      {{ else if .docs_article }}
      <a href="{{ .Site.DocsURL }}/{{ .docs_article }}">More information&hellip;</a>
      {{ end }}
    </p>
  </dd>
  {{ end }}
</dl>
